body {
    backgroung: url('https://images.hdqwalls.com/wallpapers/attack-on-titan-beach-4k-dg.jpg');
    background-color: #23354e;
    text-align: center;
}

.navbar {
    background-color: #001532;
    text-align: center;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
