body {
    background-image: url('https://images.hdqwalls.com/wallpapers/attack-on-titan-beach-4k-dg.jpg');
    background-repeat: no-repeat;
    background-size: 100vh 100vh;
    width: 
    margin: 0;
    padding: 0;
    background-color: #dffdfd;
    text-align: center;
}

.navbar {
    background-color: #162130;
    text-align: center;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

h3 {
    color: #f1f9f9;
}

h4 {
    color: #000000;
}

h5 {
    color: #f1f9f9;
}
